<!doctype html>
<html>
	
	<!--Add code to ensure only the current_user sees this-->
	<!--Add code to ensure only the current_user sees this-->
	<!--Add code to ensure only the current_user sees this-->
	<!--Add code to ensure only the current_user sees this-->
	<!--Add code to ensure only the current_user sees this-->
	<!--Add code to ensure only the current_user sees this-->
	
	
<head>
<title>Client Interface</title>
<link rel="stylesheet" href="../metis.css">
<link rel="stylesheet" href="client.css">


<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body class="client c3">
    
    <div class="header">
      <%= image_tag "metisLogo.svg", class: "logo rel bot10" %>
    
<!--
        <div class="rel top5 headerRight">
            <p class="settings">Settings</p>
            <img class="gear" src="../media/img/gear.svg">
        </div>
-->
    </div>
    <div class="pad65"></div>
    <div>
        <div class="img">
             <%= image_tag "coachFace.png", class: "bigCoach" %>
        </div>
        <div class="txt">
          
            <h1 white-space: "nowrap">Welcome to Metis, <%= @user.name.gsub(/\s+/m, ' ').strip.split(" ")[0] %>! </h1>
            
            <p class="padB20">I have 20 years of experience in executive training and can offer you guidance on a variety of professional matters.</p>
            <p>Our conversation is strictly confidential so you can feel comfortable openly sharing your concerns with me.</p>
            <div class="buttons">
                
                <h5 class="blue chat">
                    
                    <%= link_to "Let's get started", conversation_path(@conversations[0])  %> 
                    
                    </h5>
               
            </div>
        </div>
    </div>
    
</body>
</html>